@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  -text-size-adjust:100%;

  font-size: 100%;
  line-height:1.3;
  font: normal 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/*--------Header--------*/

header {
text-align: center;
}

.logo {
	display: block;
	width:40%;
	margin:0 auto;
  max-width: 128px;
  padding-top:1em;
}

h1 {
	text-align:center;
  font-family: 'Playfair Display', serif;
}

header {
  background-color: black;
  padding-bottom:;
}

h1 {
  color: white;
}

/*--------Nav--------*/

nav li {
  width:100%;
  text-align:center;
  display:block;
  padding: 1em 0;
  background: #fff;
  transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -webkit-transition: background .25s ease-in-out;
}

.nav li {
  text-align: center;
}


nav li:hover {
  background-color: #ddd;
}

.nav {
  padding-left:0;
}

.menuhover:link,
.menuhover:active,
.menuhover:focus,
.menuhover:visited {
  text-decoration: none;
  color: black;
}

/*.nav-fade li {
   background: #fff;
   padding: 3px 8px;
   display: inline-block;
   transition: background .25s ease-in-out;
   -moz-transition: background .25s ease-in-out;
   -webkit-transition: background .25s ease-in-out;
   }

   .nav-fade li:hover {
      background: #ddd;
      }*/

/*--------Main--------*/

.portrait {
  width:100%;
}

main p {
  padding:0 1em;
  font-family: 'Raleway', sans-serif;
}

/*--------Content--------*/

h2 {
  text-align:center;
  background-color: black;
  color: white;
  font-family: 'Playfair Display', serif;
  padding:0.5em;
}

/*Work*/
.work1 {
  width:100%;
}

.work2 {
  width: 100%;
}

h3 {
  text-align: center;
}

.phototitle {
  position: absolute;
  width:100%;
}

.illustitle {
  position: absolute;
  width:100%;
}

.divbox {
  display: block;
  height: 22em;
  /*overflow: hidden;*/
}



/*--------Footer--------*/

li {
  display: inline-block;
  width: 33%;
  margin-right: -5px;
  text-align: center;
}

li img {
  width:80%;
  margin: 0 auto;
}

footer {
  margin: 2em 0;
  display:block;
  height:5em;
}

.contact img {
  max-width:4em;
}

/*--------Media Queries--------*/



@media only screen and (min-width: 20em) {

h1 {
  padding-bottom:10px;
}

nav li {
  display: inline-block;
  width: 33.33%;
}

}

@media only screen and (min-width: 37em) {

/*--------Carousel--------*/

-webkit-@keyframes go {
  0% {
    background-image: url(../img/card-img-6.jpg);
  }
    33% {
    background-image: url(../img/card-img-7.jpg);
  }
    66% {
    background-image: url(../img/card-img-8.jpg);
  }
    100% {
    background-image: url(../img/card-img-9.jpg);
  }
}

@keyframes go {
  0% {
    background-image: url(../img/card-img-6.jpg);
  }
    33% {
    background-image: url(../img/card-img-7.jpg);
  }
    66% {
    background-image: url(../img/card-img-8.jpg);
  }
    100% {
    background-image: url(../img/card-img-9.jpg);
  }
}

header {
  background-size:cover;
  background-position:center;
  -webkit-animation: go 15s linear infinite;
  animation: go 15s linear infinite;
}



header {
  font-size:1.5em;
}

main {
  background-image: url("../img/portrait.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  padding-bottom: 2em;
  height: 50vw;
  overflow:scroll;
  overflow-x:hidden;
}

/*VW a unit that refers to the width of my viewport*/

.portrait {
 display: none;
}

main p {
  width:50%;
  height: auto;
  position: relative;
  right: 44%;
  top:20%;
  max-width: 480px;
  font-size: 17px;
  left:2em;
}

header {
  height: 370px;
}

.centered {
  position: relative;
  top: 25%;
}
/*opacity:0.6;*/

.contact {
  position:relative;
  bottom:0;
}

/*Work*/

.workbox {
  position:relative;
  float: left;
  width:50%;
}

.phototitle {
  position: absolute;
  bottom:0.5em;
  color: white;
}

.illustitle {
  position: absolute;
  bottom:0.5em;
  color: white;
}

}

@media only screen and (min-width: 50em) {

}
