@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-o-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
  box-sizing: border-box;
  -moz-text-size-adjust:100%;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
  -text-size-adjust:100%;

  font-size: 100%;
  line-height:1.3;
  font: normal 100%/1.3 Verdana,sans-serif;
}
}

/*Header*/

header {
text-align: center;
}

.logo {
	display: block;
	width:40%;
	margin:0 auto;
  max-width: 128px;
}

h1 {
	text-align:center;
  margin:0;
  font-family: 'Playfair Display', serif;
}

.portrait {
  width:100%;
}

header {
  background-color: black;
  padding:0 0 1em 0;
}

h1 {
  color: white;
}

main p {
  padding:0 1em;
}

li {
  display: inline-block;
  width: 33%;
  margin-right: -5px;
  text-align: center;
}

li img {
  width:80%;
  margin: 0 auto;
}

.contact {
  padding: 0;
}

footer {
  margin: 2em 0;
}

.contact img {
  max-width:4em;
}

@media only screen and (min-width: 37em) {

main {
  background-image: url("../img/portrait.jpg");
  background-repeat:no-repeat;
  background-size: cover;
  padding-bottom: 2em;
  height: 60vw;
  left:-20px;
}

/*VW a unit that refers to the width of my viewport*/

.portrait {
 display: none;
}

main p {
  width:50%;
  height: auto;
  position: relative;
  left: 44%;
  top:20%;
  max-width: 480px;
}

header {
  height: 370px;
}

.centered {
  position: relative;
  top: 25%;
}
/*opacity:0.6;*/

}

@media only screen and (min-width: 50em)
